[include]
	path = ~/.gitconfig.local
[core]
	excludesFile = ~/.gitignore_global
        attributesFile = ~/.gitattributes
        hooksPath = ~/.githooks
[push]
	default = simple
[diff "elisp"]
	xfuncname = "^\\(.+"
[init]
	defaultBranch = master
