[include]
	path = ~/.gitconfig.local
[core]
	excludesFile = ~/.gitignore_global
        attributesFile = ~/.gitattributes
[push]
	default = simple
[diff "elisp"]
	xfuncname = "^(\\((defun|defmacro) .*)$"
